In [1]:
import findspark
findspark.init("/usr/hdp/current/spark2-client")

from pyspark.sql import SparkSession

from pyspark.sql.functions import lit, col, instr, expr, pow, round, bround, corr, count, mean, stddev_pop, min, max
from pyspark.sql.functions import monotonically_increasing_id, initcap, lower, upper, ltrim, rtrim, rpad, lpad, trim
from pyspark.sql.functions import regexp_replace, translate, regexp_extract, current_date, current_timestamp, struct
from pyspark.sql.functions import date_add, date_sub, datediff, months_between, to_date, to_timestamp, coalesce, split, size
from pyspark.sql.functions import array_contains, explode, udf

from pyspark.sql.types import StructField, StructType, StringType, IntegerType, DoubleType, FloatType, LongType

import pyspark

conf = pyspark.SparkConf().setAll([('spark.app.name', 'test_script'),
                                   ('spark.master', 'yarn'),
                                   ('spark.submit.deployMode', 'client'),
                                   ('spark.executor.memory', '1g'),
                                   ('spark.memory.fraction', '0.7'),
                                   ('spark.executor.cores', '3'),
                                   ('spark.executor.instances', '20'),
                                   ('spark.yarn.am.memory', '5g')])

spark = SparkSession.builder.config(conf=conf).getOrCreate()
#spark = SparkSession.builder.getOrCreate()

In [2]:
normaltimeFormat = "yyyyMMddHHmmss"
dtFormat = "yyyyMMdd"
day = 20180731

df_1s = spark.read.format("orc")\
  .load("hdfs://namenode:8020/apps/hive/warehouse/conv_tsp_tbls.db/a7m_1s_orc/dt=" + str(day) + "/000000_0")

In [3]:
df_1s.show(1)

+-----------------+--------------+-----+-----+------------------+--------------------+--------------------+--------------------+--------------------+-----+------+------+------+-----------------+------+------+------+------+------+------+------------------+---------+------+------+------+------+------+------+------+------+-------+------+------+------+------+------------------+------+------+------+------+------+------+------+------+------+------+------+------+
|            _col0|         _col1|_col2|_col3|             _col4|               _col5|               _col6|               _col7|               _col8|_col9|_col10|_col11|_col12|           _col13|_col14|_col15|_col16|_col17|_col18|_col19|            _col20|   _col21|_col22|_col23|_col24|_col25|_col26|_col27|_col28|_col29| _col30|_col31|_col32|_col33|_col34|            _col35|_col36|_col37|_col38|_col39|_col40|_col41|_col42|_col43|_col44|_col45|_col46|_col47|
+-----------------+--------------+-----+-----+------------------+--------------------+--------------------+--------------------+--------------------+-----+------+------+------+-----------------+------+------+------+------+------+------+------------------+---------+------+------+------+------+------+------+------+------+-------+------+------+------+------+------------------+------+------+------+------+------+------+------+------+------+------+------+------+
|LMGMS1G80H1000013|20180731084908|    2|    1|35.268750000000004|-0.24425876800000168|-1.18144000001763...|-0.32563897600000047|-1.18144000001763...|3.528|   984| 3.136|  5.88|6.664000000000001|45.472|   0.0|     0|   2.0|    16|  -6.9|2.4225468000000006|0.1451054|     0|     0|     0|     3|     3|     1|     0|     0|49072.0|  1024|  1595|    36|    35|45.550000000000004|   109|    29| 21.55|     1|     1|     0|     0|     1|     0|   3.8|  97.0| 966.0|
+-----------------+--------------+-----+-----+------------------+--------------------+--------------------+--------------------+--------------------+-----+------+------+------+-----------------+------+------+------+------+------+------+------------------+---------+------+------+------+------+------+------+------+------+-------+------+------+------+------+------------------+------+------+------+------+------+------+------+------+------+------+------+------+
only showing top 1 row

In [4]:
df_1s.take(1)

[Row(_col0=u'LMGMS1G80H1000013', _col1=u'20180731084908', _col2=2, _col3=1, _col4=35.268750000000004, _col5=-0.24425876800000168, _col6=-0.00011814400000176306, _col7=-0.32563897600000047, _col8=-0.00011814400000176306, _col9=3.528, _col10=984, _col11=3.136, _col12=5.88, _col13=6.664000000000001, _col14=45.472, _col15=0.0, _col16=0, _col17=2.0, _col18=16, _col19=-6.900000095367432, _col20=2.4225468000000006, _col21=0.1451054, _col22=0, _col23=0, _col24=0, _col25=3, _col26=3, _col27=1, _col28=0, _col29=0, _col30=49072.0, _col31=1024, _col32=1595, _col33=36, _col34=35, _col35=45.550000000000004, _col36=109, _col37=29, _col38=21.55, _col39=1, _col40=1, _col41=0, _col42=0, _col43=1, _col44=0, _col45=3.799999952316284, _col46=97.0, _col47=966.0)]

In [4]:
type(df_1s)

pyspark.sql.dataframe.DataFrame

Add a column

In [6]:
df_1s = df_1s.withColumn("trimmed_nt", df_1s._col1.substr(0, 8)).filter(col("trimmed_nt") == str(day)).drop("trimmed_nt")

In [7]:
df_5s = spark.read.format("orc")\
  .load("hdfs://namenode:8020/apps/hive/warehouse/conv_tsp_tbls.db/a7m_5s_orc/dt=" + str(day) + "/000000_0")

In [8]:
df_5s = df_5s.withColumn("trimmed_nt", df_5s._col1.substr(0, 8)).filter(col("trimmed_nt") == str(day)).drop("trimmed_nt")\
  .select("_col0", "_col2", "_col20")

In [9]:
df = df_1s.join(df_5s, ["_col0", "_col2"], "left_outer").show(20, False)

+-----------------+-----+--------------+-----+------------------+----------------------+----------------------+----------------------+----------------------+------------------+------+------------------+-----------------+------------------+------------------+------------------+------+------+------+------+------------------+-------------------+------+------+------+------+------+------+------+------+-------+------+------+------+------+------------------+------+------+------------------+------+------+------+------+------+------+------+------+------+------+
|_col0            |_col2|_col1         |_col3|_col4             |_col5                 |_col6                 |_col7                 |_col8                 |_col9             |_col10|_col11            |_col12           |_col13            |_col14            |_col15            |_col16|_col17|_col18|_col19|_col20            |_col21             |_col22|_col23|_col24|_col25|_col26|_col27|_col28|_col29|_col30 |_col31|_col32|_col33|_col34|_col35            |_col36|_col37|_col38            |_col39|_col40|_col41|_col42|_col43|_col44|_col45|_col46|_col47|_col20|
+-----------------+-----+--------------+-----+------------------+----------------------+----------------------+----------------------+----------------------+------------------+------+------------------+-----------------+------------------+------------------+------------------+------+------+------+------+------------------+-------------------+------+------+------+------+------+------+------+------+-------+------+------+------+------+------------------+------+------+------------------+------+------+------+------+------+------+------+------+------+------+
|LMGMS1G80J1001765|2    |20180731145500|1    |32.175000000000004|0.596670048           |-1.1814400000176306E-4|-0.13575182399999974  |-1.1814400000176306E-4|41.552            |1457  |37.632000000000005|3.92             |3.92              |43.512            |23.128            |0     |19.9  |0     |-0.7  |2.4779944000000005|0.1536358          |0     |0     |1     |3     |3     |1     |0     |0     |54118.0|939   |1454  |36    |5     |6.84              |111   |30    |47.46             |1     |1     |0     |0     |1     |0     |4.4   |61.0  |457.0 |null  |
|LMGMS1G80J1001765|2    |20180731145504|1    |35.15625          |-0.2985122400000009   |-1.1814400000176306E-4|-0.1900052960000025   |-1.1814400000176306E-4|4.704000000000001 |1593  |4.704000000000001 |5.488            |4.312             |48.608000000000004|0.0               |0     |3.8   |0     |-0.2  |2.4779944000000005|0.1536358          |0     |0     |1     |3     |3     |1     |0     |0     |58877.0|1021  |1586  |36    |5     |7.25              |111   |30    |46.17             |1     |1     |0     |0     |1     |0     |4.4   |87.0  |460.0 |null  |
|LMGMS1G80J1001765|2    |20180731145503|1    |36.225            |-0.13575182399999974  |-1.1814400000176306E-4|-0.02724488000000136  |-1.1814400000176306E-4|11.368            |1631  |11.368            |5.488            |4.312             |44.688            |3.92              |0     |8.2   |0     |-0.2  |2.4779944000000005|0.1536358          |0     |0     |1     |3     |3     |1     |0     |0     |58517.0|1045  |1626  |36    |5     |7.09              |111   |30    |46.52             |1     |1     |0     |0     |1     |0     |4.6   |92.0  |457.0 |null  |
|LMGMS1G80J1001765|2    |20180731145507|1    |33.862500000000004|0.21689574399999856   |-1.1814400000176306E-4|-1.1814400000176306E-4|-1.1814400000176306E-4|23.128            |1671  |23.912000000000003|4.704000000000001|3.528             |43.904            |14.112            |0     |10.5  |0     |6.1   |2.4971878000000003|0.1536358          |0     |0     |0     |3     |3     |1     |0     |0     |61240.0|987   |1537  |36    |5     |7.63              |111   |30    |45.17             |1     |1     |0     |0     |1     |0     |4.6   |66.0  |454.0 |null  |
|LMGMS1G80J1001765|2    |20180731145458|1    |27.45             |0.4339096319999989    |-1.1814400000176306E-4|0.10838880000000017   |-1.1814400000176306E-4|26.656000000000002|1929  |27.048000000000002|5.096            |3.136             |45.472            |20.384            |0     |19.9  |0     |3.5   |2.4779944000000005|0.1536358          |0     |0     |1     |3     |2     |1     |0     |0     |49017.0|795   |1925  |36    |5     |6.69              |111   |30    |47.95             |1     |1     |0     |0     |1     |0     |4.6   |56.0  |457.0 |null  |
|LMGMS1G80J1001765|2    |20180731145502|1    |36.28125          |0.27114921599999775   |-1.1814400000176306E-4|-0.054371616000000955 |-1.1814400000176306E-4|25.088            |1641  |22.344            |4.704000000000001|3.528             |45.472            |12.936            |0     |16.4  |0     |-0.2  |2.4779944000000005|0.1536358          |0     |0     |1     |3     |3     |1     |0     |0     |57854.0|1057  |1648  |36    |5     |7.03              |111   |30    |46.980000000000004|1     |1     |0     |0     |1     |0     |4.6   |56.0  |456.0 |null  |
|LMGMS1G80J1001765|2    |20180731145506|1    |33.300000000000004|-0.21713203200000208  |-1.1814400000176306E-4|-0.08149835200000055  |-1.1814400000176306E-4|12.936            |1501  |15.288            |5.488            |4.704000000000001 |49.784            |17.248            |0     |4.4   |44    |5.1   |2.4779944000000005|0.1536358          |0     |0     |0     |3     |3     |1     |0     |0     |59820.0|969   |1509  |36    |5     |7.53              |111   |30    |45.49             |1     |1     |0     |0     |1     |0     |4.4   |82.0  |458.0 |null  |
|LMGMS1G80J1001765|2    |20180731145459|1    |29.8125           |0.7051769919999984    |-1.1814400000176306E-4|-0.054371616000000955 |-1.1814400000176306E-4|41.552            |1349  |38.808            |4.312            |4.312             |43.512            |21.952            |0     |19.9  |0     |-1.1  |2.4779944000000005|0.1536358          |0     |0     |1     |3     |3     |1     |0     |0     |51551.0|866   |1348  |36    |5     |6.82              |111   |30    |47.76             |1     |1     |0     |0     |1     |0     |4.4   |56.0  |457.0 |null  |
|LMGMS1G80J1001765|2    |20180731145501|1    |34.65             |0.596670048           |-1.1814400000176306E-4|-0.02724488000000136  |-1.1814400000176306E-4|35.28             |1558  |32.928000000000004|4.704000000000001|3.92              |44.688            |19.992            |0     |19.9  |0     |-0.3  |2.4779944000000005|0.1536358          |0     |0     |1     |3     |3     |1     |0     |0     |56281.0|1006  |1567  |36    |5     |6.96              |111   |30    |47.25             |1     |1     |0     |0     |1     |0     |4.6   |56.0  |458.0 |null  |
|LMGMS1G80J1001765|2    |20180731145505|1    |34.2              |-0.2985122400000009   |-1.1814400000176306E-4|-0.02724488000000136  |-1.1814400000176306E-4|7.056             |1280  |7.84              |6.272            |5.88              |48.608000000000004|1.96              |0     |2.9   |0     |-0.2  |2.4779944000000005|0.1536358          |0     |0     |0     |3     |3     |1     |0     |0     |59255.0|991   |1542  |36    |5     |7.44              |111   |30    |45.84             |1     |1     |0     |0     |1     |0     |4.6   |87.0  |459.0 |null  |
|LMGMS1G80J1001765|2    |20180731145709|1    |36.45             |0.13551553599999977   |-1.1814400000176306E-4|-1.1814400000176306E-4|-0.02724488000000136  |20.384            |1649  |25.48             |3.528            |2.744             |45.08             |15.68             |0     |11.0  |0     |4.2   |2.4843922         |0.15576840000000003|0     |0     |0     |3     |3     |1     |0     |0     |37151.0|1060  |1651  |36    |5     |6.79              |111   |30    |29.28             |1     |1     |0     |0     |1     |0     |2.8   |92.0  |450.0 |null  |
|LMGMS1G80J1001765|2    |20180731145712|1    |40.893750000000004|0.6237967839999996    |-1.1814400000176306E-4|-1.1814400000176306E-4|-0.02724488000000136  |34.496            |1850  |35.672000000000004|3.528            |2.3520000000000003|44.688            |26.264            |0     |18.8  |0     |4.0   |2.4971878000000003|0.15576840000000003|0     |0     |0     |3     |3     |1     |0     |0     |43994.0|1190  |1845  |36    |5     |5.8500000000000005|111   |30    |28.87             |1     |1     |0     |0     |1     |0     |3.0   |102.0 |450.0 |null  |
|LMGMS1G80J1001765|2    |20180731145718|1    |44.38125          |-1.1814400000176306E-4|-1.1814400000176306E-4|-0.13575182399999974  |-0.02724488000000136  |24.304000000000002|1508  |21.952            |3.136            |3.136             |42.728            |13.328000000000001|0     |3.4   |0     |-4.3  |2.4502706         |0.15576840000000003|0     |0     |0     |4     |4     |1     |0     |0     |54015.0|1302  |1504  |36    |5     |3.64              |111   |30    |27.94             |1     |1     |0     |0     |1     |0     |3.0   |123.0 |451.0 |null  |
|LMGMS1G80J1001765|2    |20180731145711|1    |38.8125           |0.5152898399999977    |-1.1814400000176306E-4|-0.13575182399999974  |-0.02724488000000136  |33.32             |1763  |33.712            |3.528            |2.744             |42.728            |23.912000000000003|0     |17.1  |0     |-3.9  |2.4630662000000005|0.15576840000000003|0     |0     |0     |3     |3     |1     |0     |0     |41311.0|1133  |1758  |36    |5     |6.17              |111   |30    |29.02             |1     |1     |0     |0     |1     |0     |3.0   |97.0  |451.0 |null  |
|LMGMS1G80J1001765|2    |20180731145715|1    |45.45             |0.27114921599999775   |-1.1814400000176306E-4|-1.1814400000176306E-4|-0.02724488000000136  |26.264            |1524  |25.088            |3.528            |3.528             |43.120000000000005|15.288            |0     |19.4  |0     |5.1   |2.501453          |0.15576840000000003|0     |0     |0     |4     |4     |1     |0     |0     |51354.0|1319  |1521  |36    |5     |4.8               |111   |30    |28.44             |1     |1     |0     |0     |1     |0     |2.8   |118.0 |450.0 |null  |
|LMGMS1G80J1001765|2    |20180731145717|1    |44.8875           |-0.2713855040000013   |-1.1814400000176306E-4|-0.02724488000000136  |-0.02724488000000136  |9.408000000000001 |1505  |6.272             |3.92             |3.92              |49.392            |1.568             |0     |7.5   |4     |-0.2  |2.4715966000000003|0.15576840000000003|0     |0     |0     |4     |4     |1     |0     |0     |53085.0|1307  |1506  |36    |5     |4.03              |111   |30    |28.12             |1     |1     |0     |0     |1     |0     |2.8   |123.0 |451.0 |null  |
|LMGMS1G80J1001765|2    |20180731145710|1    |37.40625          |0.4339096319999989    |-1.1814400000176306E-4|-1.1814400000176306E-4|-0.02724488000000136  |29.400000000000002|1694  |29.400000000000002|3.528            |2.744             |41.160000000000004|19.6              |0     |12.9  |12    |2.6   |2.4843922         |0.15576840000000003|0     |0     |0     |3     |3     |1     |0     |0     |39120.0|1091  |1700  |36    |5     |6.48              |111   |30    |29.150000000000002|1     |1     |0     |0     |1     |0     |3.0   |97.0  |450.0 |null  |
|LMGMS1G80J1001765|2    |20180731145714|1    |44.268750000000004|0.5424165759999973    |-1.1814400000176306E-4|-1.1814400000176306E-4|-0.02724488000000136  |39.2              |1481  |34.888            |3.136            |3.136             |41.160000000000004|21.952            |0     |19.9  |0     |5.0   |2.49079           |0.15576840000000003|0     |0     |0     |4     |4     |1     |0     |0     |49446.0|1285  |1482  |36    |5     |5.17              |111   |30    |28.59             |1     |1     |0     |0     |1     |0     |3.0   |107.0 |450.0 |null  |
|LMGMS1G80J1001765|2    |20180731145716|1    |45.5625           |0.05413532799999743   |-1.1814400000176306E-4|0.05413532799999743   |-0.02724488000000136  |18.816000000000003|1506  |16.464000000000002|3.136            |3.528             |44.688            |8.624             |0     |12.5  |0     |5.7   |2.4993203999999998|0.15576840000000003|0     |0     |0     |4     |4     |1     |0     |0     |52535.0|1316  |1521  |36    |5     |4.42              |111   |30    |28.28             |1     |1     |0     |0     |1     |0     |3.0   |123.0 |450.0 |null  |
|LMGMS1G80J1001765|2    |20180731145713|1    |42.525            |0.27114921599999775   |-1.1814400000176306E-4|-0.02724488000000136  |-0.02724488000000136  |28.616            |1877  |32.928000000000004|3.92             |2.3520000000000003|49.392            |24.304000000000002|0     |19.9  |0     |-1.3  |2.4737292000000006|0.15576840000000003|0     |0     |0     |4     |3     |1     |0     |0     |46785.0|1261  |1860  |36    |5     |5.51              |111   |30    |28.73             |1     |1     |0     |0     |1     |0     |3.0   |107.0 |451.0 |null  |
+-----------------+-----+--------------+-----+------------------+----------------------+----------------------+----------------------+----------------------+------------------+------+------------------+-----------------+------------------+------------------+------------------+------+------+------+------+------------------+-------------------+------+------+------+------+------+------+------+------+-------+------+------+------+------+------------------+------+------+------------------+------+------+------+------+------+------+------+------+------+------+
only showing top 20 rows

In [10]:
df_5s.show(1, False)

+-----------------+-----+------+
|_col0            |_col2|_col20|
+-----------------+-----+------+
|LMGMS1G80H1000013|0    |0     |
+-----------------+-----+------+
only showing top 1 row

In [11]:
df_1s.select("_col2").show(10, False)

+-----+
|_col2|
+-----+
|2    |
|2    |
|2    |
|2    |
|2    |
|2    |
|2    |
|2    |
|2    |
|2    |
+-----+
only showing top 10 rows

In [12]:
df_5s.printSchema()

root
 |-- _col0: string (nullable = true)
 |-- _col2: integer (nullable = true)
 |-- _col20: integer (nullable = true)

In [13]:
df.select("_col0", "_col1", "_col2")

AttributeError: 'NoneType' object has no attribute 'select'

In [5]:
def build_schema(model):
    types = {
        "string": StringType(),
        "long": LongType(),
        "date": StringType(),
        "categorical - integer": IntegerType(),
        "double": DoubleType(),
        "integer": DoubleType(),
        "int": IntegerType(),
        "float": FloatType()
    }

    with open('schemas/{}_schema.csv'.format(model if model != "conv" else model + "_1s"), 'r') as lines:
        columns = []
        for line in lines:
            lineArray = line.split(",")
            columns.append(StructField(lineArray[1], types[lineArray[2]]))
        schema = StructType(columns)
    return schema

In [6]:
from datetime import date, timedelta
d1 = date(2017,9,25)
d2 = date(2017,9,28)
delta = d2 - d1
days=[]
for i in range(delta.days+1):
    days.append((d1+timedelta(i)).strftime("%Y%m%d"))

In [8]:
import subprocess
def run_cmd(args_list):
    proc = subprocess.Popen(args_list, stdout=subprocess.PIPE, stderr=subprocess.PIPE)
    proc.communicate()
    return proc.returncode

In [35]:
def load1sDataPerDay(day, dfSchema):
    data_file = "hdfs://namenode:8020/apps/hive/warehouse/conv_tsp_tbls.db/a7m_1s_orc/dt=" + str(day)
    returncode = run_cmd(['hdfs', 'dfs', '-test', '-e', data_file])
    if returncode:
        print('{} does not exist, skipping ..'.format(data_file))
    else :
        return spark.read.format("orc").schema(dfSchema).load(data_file)

In [36]:
def load5sDataPerDay(day):
    data_file = "hdfs://namenode:8020/apps/hive/warehouse/conv_tsp_tbls.db/a7m_5s_orc/dt=" + str(day) + "/000000_0"
    returncode = run_cmd(['hdfs', 'dfs', '-test', '-e', data_file])
    if returncode:
        print('{} does not exist, skipping ..'.format(data_file))
    else :
        return spark.read.format("orc").load(data_file).select("_col0", "_col1", "_col19")\
            .withColumnRenamed("_col0", "vin").withColumnRenamed("_col1", "normaltime")\
            .withColumnRenamed("_col19", "icm_totalodometer")

In [41]:
dfSchema = build_schema("conv")
df = None
for day in days:
    df_1s = load1sDataPerDay(day, dfSchema)
    df_5s = load5sDataPerDay(day)
    if not (df_1s is None or df_5s is None):
        df_tmp = df_1s.join(df_5s, ["vin", "normaltime"], "inner").withColumn("normaltime", to_timestamp(col("normaltime"), normaltimeFormat))
        if df is None:
            df = df_tmp
        else:
            df = df.union(df_tmp)
    print('{} processing ..'.format(day))
    if not (df is None):
        print('{} rows loaded ..'.format(df.count()))

20170925 processing ..
2549 rows loaded ..
20170926 processing ..
20185 rows loaded ..
20170927 processing ..
25129 rows loaded ..
20170928 processing ..
30475 rows loaded ..

In [68]:
res = {}
res['vin'] = []
res['start_time'] = []
res['end_time'] = []
res['start_lat'] = []
res['start_lon'] = []
res['end_lat'] = []
res['end_lon'] = []
res['distance']  = []

df = df.sort(["vin","normaltime"], ascending=[0,1])
pdf = df.toPandas()
pdf.loc[:, 'diffs'] = pdf['normaltime'].diff().fillna(timedelta(seconds=1000))
#print(pdf.shape)
pdf['diffs'] = pdf['diffs'].apply(lambda x: int(x.seconds))
#pdf.head(10)

#pdf['diffs'] = pdf.groupby(['vin'])['normaltime'].transform(lambda x: x.diff().fillna(timedelta(seconds=10000))) 
#pdf.sort_index(inplace=True)
#pdf['diffs'] = pdf['diffs'].apply(lambda x: int(x.seconds))

#x =pdf.loc[pdf['diffs'] > int(600)] 
#x.head(100)

#pdf.head(100)
# get indices where time difference longer than threshold
indices = pdf.index[pdf['diffs'] > int(600)].tolist()
indices.insert(0, 0)
if indices[-1] < pdf.shape[0] - 1:
    indices.append(pdf.shape[0])

for i in range(len(indices) - 1):
    lo = indices[i]
    hi = indices[i+1]

    if lo + 1 == hi:
        continue

    if pdf['vin'].iloc[lo] != pdf['vin'].iloc[hi-1]:
        print ('{} finished'.format(pdf['vin'].iloc[lo]))
        continue
    
    res['vin'].append(pdf['vin'].iloc[lo])
    res['start_time'].append(pdf['normaltime'].iloc[lo])
    res['start_lat'].append(pdf['tel_latitudedeg'].iloc[lo] + pdf['tel_latitudemin'].iloc[lo] / 60 \
                               + pdf['tel_latitudesec'].iloc[lo] / 3600)
    res['start_lon'].append(pdf['tel_longitudedeg'].iloc[lo] + pdf['tel_longitudemin'].iloc[lo] / 60 \
                               + pdf['tel_longitudesec'].iloc[lo] / 3600)
    res['end_time'].append(pdf['normaltime'].iloc[hi-1])
    res['end_lat'].append(pdf['tel_latitudedeg'].iloc[hi-1] + pdf['tel_latitudemin'].iloc[hi-1] / 60 \
                               + pdf['tel_latitudesec'].iloc[hi-1] / 3600)
    res['end_lon'].append(pdf['tel_longitudedeg'].iloc[hi-1] + pdf['tel_longitudemin'].iloc[hi-1] / 60 \
                               + pdf['tel_longitudesec'].iloc[hi-1] / 3600)
    res['distance'].append(pdf['icm_totalodometer'].iloc[hi-1] - pdf['icm_totalodometer'].iloc[lo])

import pandas as pd

res_df = pd.DataFrame(res)
#if res_df.empty:
#    return res_df

res_df['duration'] = res_df.apply(lambda x: int((x['end_time']-x['start_time']).total_seconds())/3600.0, axis=1)

res_df.head(100)

,distance,end_lat,end_lon,end_time,start_lat,start_lon,start_time,vin,duration
0,2.0,23.014094,113.007517,2017-09-28 19:07:42,0.000000,0.000000,2017-09-25 11:26:02,LMGMS1G86H1S00099,79.694444
1,0.0,23.013989,113.007575,2017-09-25 12:49:52,0.000000,0.000000,2017-09-25 11:26:02,LMGMS1G86H1S00099,1.397222
2,0.0,23.013975,113.007575,2017-09-25 15:27:54,0.000000,0.000000,2017-09-25 13:59:43,LMGMS1G86H1S00099,1.469722
3,0.0,23.013989,113.007603,2017-09-25 15:52:23,23.013956,113.007614,2017-09-25 15:50:08,LMGMS1G86H1S00099,0.037500
4,0.0,23.013911,113.007528,2017-09-25 16:36:51,23.013958,113.007561,2017-09-25 16:05:29,LMGMS1G86H1S00099,0.522778
5,0.0,23.013964,113.007519,2017-09-25 17:40:00,23.014000,113.007503,2017-09-25 17:02:20,LMGMS1G86H1S00099,0.627778
6,1.0,23.014022,113.007439,2017-09-26 12:45:16,0.000000,0.000000,2017-09-26 09:02:47,LMGMS1G86H1S00099,3.708056
7,0.0,23.014100,113.007475,2017-09-26 16:11:57,23.014078,113.007497,2017-09-26 14:14:57,LMGMS1G86H1S00099,1.950000
8,0.0,23.014111,113.007458,2017-09-26 17:35:08,23.014022,113.007450,2017-09-26 16:24:15,LMGMS1G86H1S00099,1.181389
9,0.0,23.014011,113.007422,2017-09-27 12:51:48,0.000000,0.000000,2017-09-27 09:24:56,LMGMS1G86H1S00099,3.447778
10,0.0,23.014061,113.007517,2017-09-27 15:41:16,0.000000,0.000000,2017-09-27 13:50:09,LMGMS1G86H1S00099,1.851944
11,0.0,23.014022,113.007542,2017-09-27 16:13:11,23.014025,113.007542,2017-09-27 16:13:06,LMGMS1G86H1S00099,0.001389
12,0.0,23.014053,113.007436,2017-09-27 17:10:59,0.000000,0.000000,2017-09-27 16:43:38,LMGMS1G86H1S00099,0.455833
13,0.0,23.014108,113.007514,2017-09-27 19:24:15,23.014133,113.007500,2017-09-27 17:42:11,LMGMS1G86H1S00099,1.701111
14,0.0,23.014103,113.007478,2017-09-28 12:53:46,0.000000,0.000000,2017-09-28 10:11:25,LMGMS1G86H1S00099,2.705833
15,0.0,23.014067,113.007544,2017-09-28 13:21:42,23.014094,113.007542,2017-09-28 13:18:55,LMGMS1G86H1S00099,0.046389
16,1.0,23.014094,113.007517,2017-09-28 19:07:42,23.014086,113.007531,2017-09-28 13:51:51,LMGMS1G86H1S00099,5.264167

In [40]:
print("hdfs://namenode:8020/apps/hive/warehouse/conv_tsp_tbls.db/a7m_5s_orc/dt=" + str(days[0]) + "/000000_0")
df_5s = spark.read.format("orc")\
  .load("hdfs://namenode:8020/apps/hive/warehouse/conv_tsp_tbls.db/a7m_5s_orc/dt=" + str(days[0]) + "/000000_0")
print('{} rows loaded ..'.format(df_5s.count()))

df_5s = df_5s.withColumn("trimmed_nt", df_5s._col1.substr(0, 8)).filter(col("trimmed_nt") == str(days[0])).drop("trimmed_nt")\
  .select("_col0", "_col1", "_col19").withColumnRenamed("_col0", "vin").withColumnRenamed("_col1", "normaltime")\
  .withColumnRenamed("_col19", "icm_totalodometer")

print('{} rows loaded ..'.format(df_5s.count()))
df_5s.printSchema()

dfSchema = build_schema("conv")
df_1s = load1sDataPerDay(days[0], dfSchema)
print('{} rows loaded ..'.format(df_1s.count()))

df = df_1s.join(df_5s, ["vin", "normaltime"], "inner")
print('{} rows loaded ..'.format(df.count()))



df.printSchema()

hdfs://namenode:8020/apps/hive/warehouse/conv_tsp_tbls.db/a7m_5s_orc/dt=20170925/000000_0
2554 rows loaded ..
2554 rows loaded ..
root
 |-- vin: string (nullable = true)
 |-- normaltime: string (nullable = true)
 |-- icm_totalodometer: float (nullable = true)

12702 rows loaded ..
2549 rows loaded ..
root
 |-- vin: string (nullable = true)
 |-- normaltime: timestamp (nullable = true)
 |-- bcm_keyst: integer (nullable = true)
 |-- bcs_yawratest: integer (nullable = true)
 |-- bcs_vehspd: double (nullable = true)
 |-- bcs_actvehlongaccel: double (nullable = true)
 |-- bcs_vehlongacceloffset: double (nullable = true)
 |-- bcs_actvehlaltrlaccel: double (nullable = true)
 |-- bcs_vehlaltrlacceloffset: double (nullable = true)
 |-- ems_engtorq: double (nullable = true)
 |-- ems_engspd: integer (nullable = true)
 |-- ems_engtorqdriverreq: double (nullable = true)
 |-- ems_engfrictiontorq: double (nullable = true)
 |-- ems_minengtorq: double (nullable = true)
 |-- ems_maxengtorq: double (nullable = true)
 |-- ems_gaspedalactpst: double (nullable = true)
 |-- srs_crashoutputst: integer (nullable = true)
 |-- icm_fuelinsconsumed: float (nullable = true)
 |-- sas_steeringanglespd: integer (nullable = true)
 |-- sas_steeringangle: float (nullable = true)
 |-- bcs_yawrate: double (nullable = true)
 |-- bcs_yawrateoffset: double (nullable = true)
 |-- mrr_fcwoffst: integer (nullable = true)
 |-- mrr_aeboffst: integer (nullable = true)
 |-- srs_driverseatbeltst: integer (nullable = true)
 |-- tcu_targetgearst: integer (nullable = true)
 |-- tcu_currentgearst: integer (nullable = true)
 |-- tcu_gearengagementst: integer (nullable = true)
 |-- ems_clutchbottompst: integer (nullable = true)
 |-- ems_brkpedalst: integer (nullable = true)
 |-- ems_fuelpulse: double (nullable = true)
 |-- tcu_outputspd: integer (nullable = true)
 |-- tcu_turbinespeed: integer (nullable = true)
 |-- tel_latitudedeg: integer (nullable = true)
 |-- tel_latitudemin: integer (nullable = true)
 |-- tel_latitudesec: double (nullable = true)
 |-- tel_longitudedeg: integer (nullable = true)
 |-- tel_longitudemin: integer (nullable = true)
 |-- tel_longitudesec: double (nullable = true)
 |-- tel_navipstvd: integer (nullable = true)
 |-- tel_loctype: integer (nullable = true)
 |-- tel_latitudemode: integer (nullable = true)
 |-- tel_longitudemode: integer (nullable = true)
 |-- tel_homeind: integer (nullable = true)
 |-- tel_altitudetype: integer (nullable = true)
 |-- tel_gpsdirection: float (nullable = true)
 |-- tel_gpsspeed: float (nullable = true)
 |-- tel_gpsaltitude: float (nullable = true)
 |-- dt: string (nullable = true)
 |-- icm_totalodometer: float (nullable = true)

In [20]:
df_1s.groupBy("dt").count().sort("count", ascending=False).show(5)

+----+------+
|  dt| count|
+----+------+
|null|107707|
+----+------+

In [ ]:
#df_5s = spark.read.format("orc").load(raw_data.replace("_1s", "_5s")).select(*COL_IDX_DICT["conv_5s"])
#df_5s = df_5s.withColumn("trimmed_normaltime", df_5s._col1.substr(0, 8))\
#  .filter(col("trimmed_normaltime") == str(day)).drop("trimmed_normaltime")\
#  .withColumnRenamed("_col0", "vin").withColumnRenamed("_col1", "normaltime")\
#  .withColumnRenamed("_col19", "icm_totalodometer")
for day in days:
    data_file = "hdfs://namenode:8020/apps/hive/warehouse/conv_tsp_tbls.db/a7m_5s_orc/dt=" + str(day)
    returncode = run_cmd(['hdfs', 'dfs', '-test', '-d', data_file])
    if returncode:
        print('{} does not exist, skipping ..'.format(data_file))
        continue
    df_5s = spark.read.format("orc").load(data_file)

In [ ]:
df = df_1s.join(df_5s, ["vin", "normaltime"], "left_outer")

In [ ]:
df_1s.select("").show(10, False)

In [ ]:
df_1s.select("vin","bcm_keyst").distinct().sort("vin", ascending=True).show(10, False)

In [ ]:
df_1s.select("*").where("bcm_keyst == 0").show(10)

In [ ]:
df_1s = df_1s.withColumn("normaltime", to_timestamp(col("normaltime"), normaltimeFormat))

In [ ]:
df_1s.groupBy("vin").count().sort("count", ascending=False).show(5)

In [ ]:
df_1s.where("vin = 'LMGMS1G83J1018060'").groupBy("bcs_vehspd", "sas_steeringangle")\
  .count().sort("bcs_vehspd", ascending=True).show(200)

In [ ]:
rdd = df_1s.rdd
rdd.first()

In [ ]:
df_1s_test = df_1s.groupBy("bcs_vehspd").max("sas_steeringangle")\
  .withColumnRenamed("max(sas_steeringangle)", "max_steeringangle")\
  .sort("bcs_vehspd", ascending=True)

pdf = df_1s_test.toPandas()

df_1s_test.show(5)